.home, .page, .post, .post-index{
	padding-top: 50px;
}

.article-wrap {
  line-height: 1.6;
  font-size: 1.35rem;
	font-family: 'Lora', serif;
}

.article-wrap p {
	margin: 1.3em 0; 
}

html {
	font-size: 16px;
}

.article-wrap img{
  display: block;
  margin: 0 auto;
}

.article-author-side p, .article-author-bottom p, .author-social {
	font-size: 1rem;
}
#main{
	margin-top: 0px;
}

.headline-wrap {
	margin-bottom: 3.5em;
}

p code {
	font-size: 1rem;
}

h1 {
	font-size: 42px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 18px;
}

