.home, .page, .post, .post-index{
	padding-top: 50px;
}

.article-wrap {
  line-height: 1.5;
  font-size: 1.35rem;
}

html {
	font-size: 16px;
}

.article-wrap img{
  display: block;
  margin: 0 auto;
}

#index article p{
	font-size: 1rem;
}

#index article h2{
	font-size: 1.35rem;
}

.article-author-side p, .article-author-bottom p, .author-social {
	font-size: 1rem;
}
#main{
	margin-top: 0px;
}

h1 {
	font-size: 42px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 18px;
}

