.home, .page, .post, .post-index{
	padding-top: 50px;
}

.article-wrap {
  line-height: 1.75;
  font-size: 18px;
}

.article-wrap img{
  display: block;
  margin: 0 auto;
}

#main{
	margin-top: 0px;
}

h1 {
	font-size: 42px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 18px;
}
