:root {
  --header-color: #488ac5;
  --subheader-color: #3d608d;
  --body-color: #242424;
}

h1,
h2,
h3,
h4 {
  color: var(--subheader-color);
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
    "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
  font-size: 18px;
  color: var(--subheader-color);
}

#container {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 2vw;
}

#post-container {
  max-width: 645px;
  width: 100%;
  margin: 0 auto;
  color: var(--body-color);
}

#post-preview {
  border-style: solid;
  border-width: 2px;
  border-color: var(--header-color);
  margin: 1em 0 1em 0;
  padding: 2em;
  text-align: left;
}

#post-container img {
  max-width: 960px;
  max-height: 600px;
  width: auto;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}

#post-header {
  text-align: center;
  font-size: 1.5em;
}

header {
  text-align: center;
  margin-bottom: 4vw;
}

#posts {
  max-width: 500px;
  margin: 0 auto;
}

#nav {
  margin-bottom: 1vw;
}

#home-name {
  font-size: 2em;
  font-weight: 700;
}

#top-bar {
  color: var(--header-color);
  text-align: center;
}

#footer {
  margin-top: 2vw;
  text-align: center;
}
