* {
  box-sizing: border-box;
}

:root {
  /* --header-color: #488ac5;
  --subheader-color: #3d608d;
  --body-color: #242424; */

  /* --header-color: #8C2626;
  --subheader-color: #8C2626;
  --body-color: #242424;
  --bg-color: #ffffe1;
  --accent-color: #8C2626; */

  --header-color: #171d67;
  --subheader-color: #171d67;
  --body-color: #242424;
  --bg-color: #ffffff;
  --accent-color: #d1f9ff;
  --box-color: #50e3c2;
}

body {
  margin: 3px;
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  color: var(--subheader-color);
  margin: 0;
}

#post-container h1, h2 {
  line-height: 1.25;
  font-size: 1.25em;
}

#post-container h3 {
  line-height: 1.25;
  font-size: 1.15em;
}

a {
  color: inherit;
  text-decoration: underline;
}

#top-bar a {
  text-decoration: none;
}

.center-text {
  text-align: center;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
    "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
  font-size: 18px;
  color: var(--subheader-color);
  background-color: var(--bg-color);
}

@media only screen and (min-width: 800px) {
  html {
    font-size: 22px;
  }
}

.separated {
  margin-top: 1em;
}

#page-container {
  min-height: 100vh;
  position: relative;
}

#container {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 2vw;
  /* for footer (which is 9em) */
  padding-bottom: 11em;
}

#topics-grid {
  display: grid;
  margin-top: 1em;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 0.5rem;
  text-align: center;
}

#topic {
  padding: 0.5em;
}

#post-container {
  max-width: 625px;
  width: 100%;
  margin: 0 auto;
  color: var(--body-color);
  line-height: 1.5;
  padding: 0 .5em 0 .5em;
}

.bordered {
  /* border-style: solid;
  border-width: 2px;
  border-color: var(--header-color); */

  /* background-color: #d1f9ff;
  box-shadow: 10px 8px 0 0 #50e3c2; */
  background-color: var(--box-color);
  box-shadow: 10px 8px 0 0 var(--accent-color);
}

#post-preview {
  margin: 1em 0 1em 0;
  padding: 2em;
  text-align: left;
}

#post-container img {
  max-width: 960px;
  max-height: 600px;
  width: auto;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}

#post-header {
  text-align: center;
  font-size: 1.5em;
  margin: 1em 0 1em 0;
  padding: 1em;
}

#post-metadata {
  margin-top: 0.5em;
}

#post-subheader {
  font-size: 1rem;
}

.link {
  text-decoration: underline;
}

header {
  text-align: center;
  margin-bottom: 4vw;
}

.skinny {
  max-width: 600px;
  margin: 0 auto;
}

#posts {
  max-width: 500px;
  margin: 0 auto;
}

#nav {
  margin-bottom: 1vw;
}

#nav a {
  margin: 0 0.2vw 0 0.2vw;
}

#home-name {
  font-size: 2em;
  font-weight: 700;
}

#top-bar {
  color: var(--header-color);
  text-align: center;
}

#footer {
  margin-top: 2vw;
  text-align: center;
  background-color: var(--header-color);
  color: white;
  padding: 1em 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.image-caption {
  margin-top: -1em;
  opacity: 0.8;
}

#mc_embed_signup_scroll input.email {
  font-size: 1.25rem;
  border: 2px solid var(--header-color);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #343434;
  padding: 0.75em 1em;
  margin: 1em 1em;
  min-width: 350px;
  text-align: center;
}

blockquote {
  margin: 2em 1em 2em 0;
  padding-left: 1em;
  padding-right: 1em;
  border-left: 0.25em solid var(--header-color);
}

#mc_embed_signup_scroll input.button {
  font-size: 1.5rem;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  letter-spacing: 0.05em;
  color: #fff;
  background-color: var(--header-color);
  padding: 0.5em 1em;
  margin: 0;
  transition: all 0.23s ease-in-out 0s;
  opacity: 0.9;
}

#mc_embed_signup_scroll input.button:hover {
  opacity: 1;
  cursor: pointer;
}
