{% with title='hey' %} {% include 'includes/header.j2' %} {% endwith %}

<div id="container">
  <header>
    <h1>cartoon goes here</h1>
    <div id="nav">
      <a href="/bio.html">bio</a>
      <a href="/tags.html">categories</a>
    </div>
  </header>
  <div id="posts">
    {% for post in posts %}

    <h2>
      <a href="posts/{{ post.slug }}/index.html">{{ post.title }}</a>
    </h2>
    <small>
      {{ post.date }} • 
      {% for tag in post.tags %}
        {{ tag }}
      {% endfor %}
    </small>
    {{ post.summary }}

    {% endfor %}
  </div>
</div>
