<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8"> 
    <link rel="stylesheet" href="/css/main.css" />
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="page-container">
        <div id="container">
            {% include 'includes/topbar.html' %}
            {% block content %}{% endblock %}
        </div>
        <div id="footer">
            <p>thank you for reading 🙂</p>
            <p>send thoughts to karthikbala444@gmail.com</p>
            <div id="nav" style="margin-left: -.5em">
                <a href="/follow.html">subscribe</a>
                ·
                <a href="https://twitter.com/kbala444">twitter</a>
                ·
                <a href="https://soundcloud.com/covert-possum">soundcloud</a>
            </div>
        </div>
    </div>
</body>
</html>
